@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing:  border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
html{
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 600;
}

section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    /* background-color: rgb(26,26,27); */
    background-color: #f2f4f3
}
.container{
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: red; */
}
.brand{
    text-align: center;
    font-size: 4rem;
    color: #0a0908;
    margin-bottom: 30px;
}
form{
    width: 90%;
    max-width: 400px;
    /* //auto bec center horily  */
    margin: 20px auto;
    background-color: rgb(223,223,223);
    border-radius: 4px;
}
form input{
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 2rem;
}
form ion-icon{
    width: 9%;
    font-size: 2.5rem;
    margin: -9px;
    color: rgb(75,75,75);
    cursor: pointer
}
.search-result{
    margin-top: 50px;
    /* background: yellow; */
    display: grid;
    grid-gap: 25px;
    /* //auto = row col = repeat min 300px will b there */
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
}

/* //img div(flex) p  */
.item{
    width: 100%;
    border-radius: 8px;
    /* background-color: rgb(37,37,37);
     */
     background-color: #49111c;
    padding: 15px;
    overflow: hidden;

}
.item img {
    width: 100%;
    height: 300px;
    border-radius: 4px;
}
.item .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item .title{
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
}
.viewButton{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0px;
    /* background-color: #484841; */
    background-color: #f2f4f3;

    color: #0a0908;
    font-size: 1.4rem;
    margin-top: 20px;
    border-radius: 5px;
    align-self: flex-start;
}
.item-data{
    color: whitesmoke;
    margin-top: 30px;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}


@media (max-width: 768px){
    .search-result{
        grid-gap: 10px;
    }
    .container .brand{
        font-size: 3rem;

    }
    .container form {
        max-width: 250px;

    }
    .container form input {
        padding: 5px;
        font-size: 1.2rem;
    }
    form ion-icon {
        font-size: 1.5rem;
        margin-bottom: -4px
    }
}